

services:
  docker-dind:
    image: docker:dind
    container_name: jenkins-docker
    privileged: true
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - jenkins-docker-certs:/certs/client
      - jenkins-data:/var/jenkins_home
    networks:
      jenkins:
        aliases:
          - docker
    command: --storage-driver=overlay2

  jenkins:
    build: .
    container_name: jenkins-blueocean
    depends_on:
      - docker-dind
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
      - jenkins-docker-certs:/certs/client:ro
      - ~/.kube:/home/jenkins/.kube
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
      - KUBECONFIG=/home/jenkins/.kube/config
    networks:
      - jenkins
      - minikube
    restart: unless-stopped

networks:
  jenkins:
    driver: bridge
  minikube:
    external: true
    name: minikube

volumes:
  jenkins-data:
  jenkins-docker-certs: